 
    .coll{
        margin-top: 20px;
        height: 400px;
        width: 350px;
        text-align: center;
        padding: 20px;
        line-height: 25px;
    

    }
    .coll h6{
        font-size: x-large;
        font-weight:bolder ;
    }
    .img{
        margin-left: 50px;
        background: url('/static/images/garb1.jpg');
        background-repeat: no-repeat;
        width: 600px;
        height: 400px;
        background-size: cover;
        margin-top: 50px;
    }
    .footer{
        height: 30px;
        text-align: center;
        background-color:rgb(14, 23, 151);
        margin-top: 10px;
        color: white;
        margin-bottom: 10px;
    }
