{% extends 'all-garbage/base.html' %}
{% block content %} {{block.super}}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/home.css' %}">
<body style="background-color: rgba(55, 235, 10, 0.3);">
<div class="container">
    <h2 style="margin-top: 20px;">Wasafi Garbage Collectors</h2>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="coll" style="background-color: green; color:black;border-radius: 10px; margin-top: 20px;">
                <h6> Garbage Collection</h6>
                <p>
                   We’re your locally owned and operated cleanup and junk removal service.
                    Whether it’s a home, office, retail location, business, foreclosed property, 
                    construction site or anywhere else,
                    Garbage Collectors will make your mess disappear – quick, easy and hassle-free.
                </p>
                <a href="" class="btn btn-sm btn-primary" style="margin-left:-230px; margin-top: 100px; width: 100px;">Get In Touch</a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img" style="margin-top: 20px; border-radius: 20px; width: 550px;">
            </div>
        </div>
    </div>
</div>
 <div class="footer">
    <p>Copyrights &copy;2022 All rights reserved</p>
</div>
{% endblock %}
</body>
