{% extends 'all-garbage/base.html' %}
{% block content %} {{block.super}}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" href="{%static 'css/home.css' %}">
<div class="container">
    <h2>We Collect Garbage</h2>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="coll">
                <h6> Garbage Collection</h6>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit deserunt aperiam, 
                    laboriosam aliquam eius eum eaque eligendi modi dolorum mollitia veritatis repellat natus,
                     rerum exercitationem incidunt? Tempora, illum eius? Vitae.
                </p>
                <a href="" class="btn btn-sm btn-success">Get In Touch</a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img">
            </div>
        </div>
    </div>
</div>
 <div class="footer">
    <p>Copyrights &copy;2022 All rights reserved</p>
</div>
{% endblock %}
